/*!
Theme Name: Incredibuild
Theme URI: http://underscores.me/
Author: Ahsan Rehman
Author URI: http://ahsanrehman.com
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: incredibuild
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Incredibuild is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}
b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}


/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

body .careersSection ol,
body .careersSection ul {
	padding-top: 0px;
	padding-bottom: 10px;
}
.careersSection .panel-heading {
	padding: 0px;
}
.careersSection .panel-heading.active {
	background: #e3147c;
}
.careersSection .panel-heading.active a {
	color: #fff;
}
.careersSection h4.panel-title a {
	display: block;
	padding: 20px 30px;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none !important;
}
.careerForm #gform_fields_1 li {
	width: 50%;
	float: left;
	clear: none;
	padding: 0px 20px;
	text-align: center;
}
.careerForm #gform_fields_1 li input {
	display: block;
	width: 100%;
	height: auto;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.careerForm #gform_fields_1 li input[type="text"] {
	padding: 7px 12px;
}
.careerForm .gform_footer {
	text-align: center;
}
.careerForm .gform_footer input[type="submit"] {
	border: 1px solid #e3147c;
}
.careerForm .gform_footer input[type="submit"]:hover {
	background: #fff;
	color: #e3147c !important;
}

body .gform_wrapper .top_label .gfield_label {
    color: #2d3135;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: block;
    margin-bottom: 15px;
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
	background: #e3147c !important;
    border: 0px !important;
    padding-left: 50px;
    padding-right: 50px;
}

body .gform_wrapper ul li.gfield {
    clear: both;
    clear: none;
    float: left;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

body .contactFormSection .gform_wrapper {
	margin: 0px 0 20px -10px !important;
	max-width: 60%;
}
@media (max-width: 768px) {
	body .contactFormSection .gform_wrapper {
		margin: 0px 0 20px 0px !important;
		max-width: 100%;
	}
}
body .contactFormSection .gform_wrapper .left_label label {
	margin-bottom: 5px !important;
	margin-top: 10px !important;
}
body .contactFormSection .gform_wrapper .gform_footer.left_label, body .contactFormSection .gform_wrapper .gform_footer.right_label {
	margin-left: 10px !important;
	width: 100%;
}
body .contactFormSection .gform_wrapper .left_label input.medium, body .contactFormSection .gform_wrapper .left_label select.medium,
body .contactFormSection .gform_wrapper .left_label textarea.medium, body .contactFormSection .gform_wrapper .left_label select.medium,
body.page-template-page-download .gform_wrapper .top_label input.medium, body.page-template-page-download .gform_wrapper .top_label select.medium {
	width: 100%;
}
body .gform_wrapper ul li.gfield#field_3_15,
body .gform_wrapper ul li.gfield#field_2_14,
body .gform_wrapper ul li.gfield#field_2_13 {
	width: 100%;
}

.gform_wrapper li.gfield#field_2_14 ul.gfield_checkbox li, .gform_wrapper li.gfield#field_2_14 ul.gfield_radio li,
.gform_wrapper li.gfield#field_2_13 ul.gfield_checkbox li, .gform_wrapper li.gfield#field_2_13 ul.gfield_radio li {
    padding: 0!important;
    display: inline-block;
    vertical-align: top;
    padding-right: 40px !important;
    width: 33%;
}
body.page-template-page-download .gform_wrapper .gfield_checkbox input[type="checkbox"] {
    width: 26px !important;
    margin-top: 0px !important;
}
body.page-template-page-download .gform_wrapper .gfield_checkbox input[type="checkbox"]:checked {
    background-color: #e3147c;
    border-color: #e3147c;
}
@media (max-width: 768px) {

	.careerForm #gform_fields_1 li,
	body .gform_wrapper ul li.gfield,
	.gform_wrapper li.gfield#field_2_14 ul.gfield_checkbox li, .gform_wrapper li.gfield#field_2_14 ul.gfield_radio li,
	.gform_wrapper li.gfield#field_2_13 ul.gfield_checkbox li, .gform_wrapper li.gfield#field_2_13 ul.gfield_radio li {
	    width: 100%;
	}

}
@media (min-width: 1024px) {
	.triangleBoxes {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
	}
	#videoModal .modal-dialog,
	#learnModal .modal-dialog {
		display: flex;
		align-items: center;
		height: 100%;
		margin-top: 0;
		margin-bottom: 0;
	}
}
#videoModal iframe {
	margin-bottom: -6px;
}
.whiteAnchorHover a {
	color: #fff;
	font-weight: bold;
}
//style vova filatenko
.unik {
    color: #2d3135;
    font-size: 28px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.version-list .version-title:before {
    content: '\2193'!important;
    top: -15px!important;;
    background: none!important;;
}
#ytplayer {
    /*width: 1200px;
    height: 789px;*/
     width: 660px;
     height: 371px;
}
#banner-video+.aos-animate h2 {
    color: #fff;
    text-transform: uppercase;
}
.buttons_download {
    margin: auto;
}
.buttons_download .tab_button {
    width: 33.333%;
    width: calc(100% / 3);
    padding: 0 40px;
    box-sizing: border-box;
    float: left;
}
.buttons_download .tab_button:first-child {
    padding-left: 0;
}
.buttons_download .tab_button:nth-child(3) {
    padding-right: 0;
}
.buttons_download .tab_button:nth-child(2) {
    padding-right: 20px;
    padding-left: 20px;
}
.buttons_download .caption {
    color: #e3147c;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.96px;
    margin-bottom: 20px;
}
.buttons_download a,
.buttons_download a:visited,
.buttons_download a:focus
 {
	background:  #e3147c;
	color: #fff;
    border-radius: 25px;
    border: 2px solid #ffffff;
    display: block;
    padding: 13px 20px;
    font-size: 13px;
    letter-spacing: 1.8px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-transform: uppercase;
    transition: all 0.3s;
    text-align: center;
    width: 100%;
    border-color: #e3147c;
    margin: auto;
    margin-bottom: 60px;
}
.buttons_download a:hover {
	background: none;
	color: #e3147c;
    text-decoration: none;
}

.acc {
    text-align:center;margin-bottom:45px;
}
@media screen and (max-width:1500px) {
     #ytplayer {
        width: 660px;
    	height: 371px;
    }   
}
@media screen and (max-width:1185px) {
     #ytplayer {
        width: 600px;
        height: 395px;
    }   
}
@media screen and (max-width:998px) {
    .buttons_download .caption {
        font-size: 14px;
    }
    .buttons_download a {
        font-size: 13px;
    }
    .buttons_download .tab_button {
        padding-top: 0;
    }
}
@media screen and (max-width:768px) {
    .buttons_download .tab_button {
        width: 100%;
        padding: 40px;
        box-sizing: border-box;
        float:none;
        margin: auto;
        padding: 0
    }  
    .buttons_download .tab_button:nth-child(2) {
        padding: 0;
    }
    .buttons_download .caption {
        margin-bottom: 0;
    }
    .buttons_download a {
        margin-bottom: 50px;
    }
    .acc {
        margin-bottom: 50px;
    }
}
#close_iframe {
    width: 40px;
    outline: none;
    position: absolute;
    top: -40px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    padding: 0px;
    right: 0;
    cursor: pointer;
    background: #fff;
}
.trust+#myModal .modal-content,#learnModal+#myModal .modal-content{overflow: inherit;}
.justify_custom {
    text-align: justify!important;
}

.videoWrapper {
	position: relative;
	padding-bottom: 320px; /* 16:9 */
	padding-top: 25px;
	height: 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1000;
}
.videoWrapper iframe {
	margin: auto;
    display: block;
}

@media (max-width: 600px) {
	body.home .transform-sec p {
		max-width: 100%;
	}
	body.page-template-page-incredible-pro .features h4.text-center.pt-50 {
		text-align: center !important;
	}
	body.page-template-page-about .visual-content.about .col-md-12,
	body.page-template-page-faq .faq.support .justify_custom,
	.visual-content div[style="background-color: #eee;"] .justify_custom {
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media (max-width: 480px) {
	body .grid .grid-item {
		margin: 0px;
		margin-bottom: 20px;
	}
	.col-should-extend {
		width: 50% !important;
	}
	.col-should-extend a {
		margin-top: 0px !important
	}
	.col-should-extend select,
	.col-should-extend input {
		width: 100% !important;
	}
	.price-data {
		margin-bottom: 0px;
	}
}