@import 'bootstrap.min.css';
@import 'jquery.bxslider.css';
@import 'owl.carousel.min.css';
@import 'owl.theme.default.min.css';
@import 'rangeslider.css';
@import 'fonts.css';
@import 'aos.css';

.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
        white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

.container-fluid {
    padding-left: 0px;
}

/*-------------------------------------------------------------------

    ***ONLY MINIFIED VERSION IS REFERENCED IN THEME***

    1) VARIABLES
    2) COMPONENTS
    3) ELEMENTS
    4) PRIMARY NAVIGATION
    6) FOOTER
    7) PAGE LAYOUTS / PAGE TEMPLATES
    8) SIDEBAR / WIDGETS
    11) BLOG / ARCHIEVE / CATEGORIES
    12) SINGLE POST
    13) STYLEGUIDE
    14) 404 / ERROR PAGE
    ...
    X) RESPONSIVNESS BREAKING POINTS

-------------------------------------------------------------------*/

@charset "utf-8";

/*-------------------------------------------------------------------
    VARIABLES
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    COMPONENTS
-------------------------------------------------------------------*/

* {
    box-sizing: border-box;
    transition: all .25s ease-in-out 0s;
}


/*-----------------------------------------
      TYPOGRAPHY
-----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
.widget h1,
.widget h2,
.widget h3,
.widget h4,
.widget h5,
.widget h6 {
    color: #e3147c;
}

.block--dark h1, .block--dark h2, .block--dark h3, .block--dark h4, .block--dark h5, .block--dark h6, .block--dark .widget h1, .block--dark .widget h2, .block--dark .widget h3, .block--dark .widget h4, .block--dark .widget h5, .block--dark .widget h6{
    border-color: #ffffff;
    color: #ffffff;
}

h1,
.widget h1 {
    font-size: 3.5em;
}

h2,
.widget h2 {
    font-size: 2.25em;
}

h3,
.widget h3 {
    font-size: 1.625em;
}

h4,
.widget h4 {
    font-size: 1.5em;
}

h5,
.widget h5 {
    font-size: 1.125em;
}

h6,
.widget h6 {
    font-size: 1em;
}

p,
a,
ol,
ul {
    color: #23343f;
    font-size: 16px;
    line-height: 1.38;
    margin: 0 0 1.25em 0;
    word-wrap: break-word
}

.block--dark p, .block--dark a, .block--dark ol, .block--dark ul{
    border-color: #ffffff;
    color: #ffffff;
}

p {
}

p.p--legal{
    font-size: 12px;
}

a {
    margin: 0;
}

ul li {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: .75rem auto;
    list-style: none;
    margin: 0 0 8px 0;
    margin: 0 0 .5rem 0;
    padding: 0 0 0 24px;
    padding: 0 0 0 1.5rem;
}

hr {
    background: #23343f;
    height: 2px;
    margin: 12px 0;
    margin: .75rem 0;
    width: 100%;
}

blockquote,
q {
    background-repeat: no-repeat;
    background-position: center left 10px;
    background-size: 50px auto;
    border: none;
    padding: 15px 25px 15px 75px;
    quotes: none;
    margin: 24px 0;
    margin: 1.5rem 0
}

blockquote p, q p{
    font-size: 18px;
}

blockquote p:last-child, q p:last-child{
    margin: 0;
}


/*-----------------------------------------
      BLOCKS / SECTIONS
-----------------------------------------*/

.block {
    width: 100%
}

.block.block--clearfix{
}

.block.block--clearfix:after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.block.block--dark{
    background: #23343f;
}

.block.block--flex{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.block.block--max{
    max-width: 1200px;
    margin: 0 auto;
}

.block.block--half{
    margin: 0 1% 16px 1%;
    margin: 0 1% 1rem 1%;
    width: 48%;
}

.block.block--half-full{
    margin: 0;
    width: 50%;
}

.block.block--third{
    margin: 0 1% 16px 1%;
    margin: 0 1% 1rem 1%;
    width: 31.33%;
}

.block.block--third-full{
    margin: 0;
    width: 33.33%;
}

.block.block--fourth{
    margin: 0 1% 16px 1%;
    margin: 0 1% 1rem 1%;
    width: 23%;
}

.block.block--fourth-full{
    margin: 0;
    width: 25%;
}

.vertical-align {
    display: table;
    text-align: center;
}

.vertical-align__child {
    display: table-cell;
    vertical-align: middle;
}


/*-----------------------------------------
      BUTTONS
-----------------------------------------*/

.btn {
    background: #d81212;
    border: 2px solid #d81212;
    color: #ffffff;
    padding: .75em 1.5em;
    text-decoration: none;
    margin: 0 8px 16px 0;
    margin: 0 .5rem 1rem 0;
    display: inline-block
}

.btn:hover,
    .btn:focus{
    background-color: rgb(205, 122, 66);
    border-color: rgb(205, 122, 66);
}

.btn.btn--ghost{
    background-color: transparent;
    color: #d81212;
}

.btn.btn--ghost:hover,
        .btn.btn--ghost:focus{
    background-color: #d81212;
    border-color: #d81212;
    color: #ffffff;
}

.block--dark .btn.btn--ghost{
    color: #ffffff;
    border-color: #ffffff;
}

.block--dark .btn.btn--ghost:hover,
            .block--dark .btn.btn--ghost:focus{
    border-color: #d81212;
}

.btn.btn--arrow,
    .btn.btn--email,
    .btn.btn--phone,
    .btn.btn--map,
    .btn.btn--pdf{
    padding: .75em 2.8em .75em 1.5em;
}

.btn.btn--arrow svg, .btn.btn--email svg, .btn.btn--phone svg, .btn.btn--map svg, .btn.btn--pdf svg{
    max-height: 1.35em;
    max-width: 1.35em;
    display: inline-block;
    vertical-align: middle;
    fill: #ffffff;
    margin: 0 0 0 .5em;
    position: absolute;
}

.btn.btn--secondary{
    background: #5a8ba0;
    border-color: #5a8ba0;
    color: #ffffff;
}

.btn.btn--secondary:hover,
        .btn.btn--secondary:focus{
    background-color: rgb(81, 125, 144);
    border-color: rgb(81, 125, 144);
}

.btn.btn--secondary.btn--ghost{
    background-color: transparent;
    color: #5a8ba0;
}

.btn.btn--secondary.btn--ghost:hover,
            .btn.btn--secondary.btn--ghost:focus{
    background-color: #5a8ba0;
    border-color: #5a8ba0;
    color: #ffffff;
}

.block--dark .btn.btn--secondary.btn--ghost{
    color: #ffffff;
    border-color: #ffffff;
}

.block--dark .btn.btn--secondary.btn--ghost:hover,
                .block--dark .btn.btn--secondary.btn--ghost:focus{
    border-color: #5a8ba0;
}


/*-----------------------------------------
      SOCIAL BUTTONS
-----------------------------------------*/

.social-link {
    background-color: #d81212;
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 12px
}

.social-link svg{
    fill: #fff;
    max-width: 100%;
    max-height: 100%;
}

.social-link:hover,
    .social-link:focus{
    background-color: rgb(205, 122, 66);
}


/*-----------------------------------------
      FORMS
-----------------------------------------*/

form ul li {
    background-image: none;
    padding: 0;
}

form input,
form input:focus,
form select,
form select:focus,
form textarea,
form textarea:focus {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    /*border: 1px solid #a9a9a9;*/
    outline: none !important;
}

input[type="radio"] {
    background: #a9a9a9;
    border-radius: 50%;
    height: 14px;
    height: .875rem;
    min-width: 14px;
    min-width: .875rem
}

input[type="radio"]:checked{
    background-color: #d81212;
    border-color: #d81212;
}

input[type="checkbox"] {
    background: #a9a9a9;
    border-radius: 3px;
    height: 14px;
    height: .875rem;
    min-width: 14px;
    min-width: .875rem
}

input[type="checkbox"]:checked{
    background-color: #d81212;
    border-color: #d81212;
}

button[type="submit"] {
    cursor: pointer;
    font-size: 1em;
    font-family: 'Helvetica';
}

.gform_wrapper * {
    transition: none;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked+label,
.gform_wrapper ul.gfield_radio li input[type=radio]:checked+label {
    font-weight: inherit !important;
}

.gform_wrapper .validation_message {
    display: none !important;
}

.gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    border: none !important;
    /*padding: 0 16px 0 0 !important;*/
    background-color: transparent !important;
    margin-bottom: 0px !important;
}

.gform_wrapper.gf_browser_chrome .gfield_error input[type=email],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=number],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=password],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=tel],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=text],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=url],
.gform_wrapper.gf_browser_chrome .gfield_error select,
.gform_wrapper.gf_browser_chrome .gfield_error textarea,
.gform_wrapper.gf_browser_chrome li.gfield_error.field_sublabel_above .ginput_complex input[type=text] {
    margin-bottom: 0 !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
    margin-top: 8px !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
    margin-top: 0 !important;
}

.gform_wrapper .gfield_error .gfield_label {
    color: inherit !important;
}

.LV_invalid_field {
    border-color: #c14e3d;
}

.LV_valid_field {
    border-color: #6eaa48;
}


/*-------------------------------------------------------------------
    ELEMENTS
-------------------------------------------------------------------*/


/*-----------------------------------------
      NAVIGATION
-----------------------------------------*/

nav {
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    background-image: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 8px 16px;
    padding: .5rem 1rem;
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 18px;
    text-transform: uppercase;
    /*border-bottom: 2px solid #d81212;*/
}
nav ul li a.arrive {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: 14px;
    font-weight: 700;
    padding: 0px;
    text-transform: none;
}

nav ul li a:hover,
                nav ul li a:focus{
    color: #ed1d90;
}
nav ul li a.arrive:hover {
    color: #fff;
    background: #ed1d90;
}

nav.nav--vertical{
}

nav.nav--vertical li{
    display: block;
}

nav.nav--primary{
    float: right;
    padding: 20px 32px;
    padding: 1.25rem 2rem;
}

nav.nav--primary ul li a{
    color: #ffffff;
    margin-right: 16px;
    margin-right: 1rem;
}

nav.nav--primary ul li a:hover,
            nav.nav--primary ul li a:focus{
    color: #d81212;
}

nav.nav--secondary{
}

nav.nav--secondary ul{
    font-size: 0;
}

nav.nav--secondary ul li a{
    color: #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
}

nav.nav--secondary ul li a:hover,
                nav.nav--secondary ul li a:focus{
    color: #23343f;
    border-color: #23343f;
}

.primary-nav {
    z-index: 100000
}

.primary-nav img#nav-logo{
    display: inline-block;
    vertical-align: top;
    margin: 16px 0 16px 32px;
    margin: 1rem 0 1rem 2rem;
}

.anchor {
    position: absolute;
    top: -120px;
}


/*-----------------------------------------
      FOOTER
-----------------------------------------*/

footer#footer {
}

footer#footer .copyright{
    padding: 8px 0;
    padding: .5rem 0;
}

footer#footer .copyright p{
    margin: 0;
    display: inline-block;
}

footer#footer .copyright #element5-credit{
    float: right;
}


/*-----------------------------------------
      PAGE TITLES
-----------------------------------------*/

.page-title-container {
    background-size: cover;
    background-position: center;
    min-height: 400px
}

.page-title-container h1{
    text-align: center;
}


/*-----------------------------------------
      POST PREVIEW
-----------------------------------------*/


/*-----------------------------------------
      SLIDERS
-----------------------------------------*/

.slick-track {
    transition: none;
}


/*fix infinite animation*/


/*-------------------------------------------------------------------
    PAGE LAYOUTS / PAGE TEMPLATES
-------------------------------------------------------------------*/

.sidebar {
    width: 250px;
    margin: 0 0 0 50px
}

.sidebar#styleguide-sidebar{
    height: 375px;
}

.sidebar.sidebar--left{
    margin: 0 50px 0 0;
}

.page {
    width: 100%
}

.page.page--sidebar{
    width: calc(100% - 300px);
}

.default-contents {
}

.default-contents img.alignleft{
    float: left;
    margin: 0 24px 12px 0;
    margin: 0 1.5rem .75rem 0;
}

.default-contents img.alignright{
    float: right;
    margin: 0 0 12px 24px;
    margin: 0 0 .75rem 1.5rem;
}

.default-contents img.aligncenter{
    display: block;
    margin: 24px auto;
    margin: 1.5rem auto;
}


/*-----------------------------------------
    BLOG / ARCHIEVE / CATEGORIES
-----------------------------------------*/


/*-----------------------------------------
    SINGLE POST
-----------------------------------------*/


/*-----------------------------------------
    404 / ERROR PAGE
-----------------------------------------*/

.page--error {
    margin: 0 auto;
    max-width: 600px;
    padding: 75px 10px;
    text-align: center
}

.page--error h1{
    font-size: 250px;
    line-height: 1;
    margin: 0;
}

.page--error form.search-form label span.screen-reader-text{
    display: none;
}

.page--error form input.search-field{
    border-radius: 8px;
    padding: 16px;
    width: calc(100% - 145px);
}

.page--error form button.search-submit{
    vertical-align: top;
}


/*-----------------------------------------
    STYLEGUIDE
-----------------------------------------*/

.styleguide-section {
    position: relative
}

.styleguide-section:first-child h2:nth-child(2){
    margin-top: 25px;
}

.styleguide-section h2:nth-child(2){
    margin-bottom: 8px;
    margin-bottom: .5rem;
    margin-top: 100px;
}

.styleguide-section h3.section--sub-title{
    margin: 50px 0 16px 0;
    margin: 50px 0 1rem 0;
    border-bottom: 1px solid #a9a9a9;
}

.styleguide-section .section--sub{
    position: relative;
}

.styleguide-section .logo-primary{
    border: 1px solid #a9a9a9;
    padding: 48px;
    padding: 3rem;
    text-align: center;
    max-width: 100%;
}

.styleguide-section .logo-varient{
    border: 1px solid #a9a9a9;
    padding: 16px;
    padding: 1rem;
}

.styleguide-section .logo-varient .varient-image{
    min-height: 200px;
}

.styleguide-section .logo-varient .varient-image img{
    max-height: 100%;
    max-width: 100%;
}

.styleguide-section .color-swatch{
    height: 120px;
}

.styleguide-section .color-swatch-details{
    border: 1px solid #a9a9a9;
    padding: .25em;
}

.styleguide-section .color-swatch-details p{
    margin-bottom: .25em;
}

.styleguide-section .font-family{
    border: 1px solid #a9a9a9;
    padding: 16px;
    padding: 1rem;
    min-height: 120px;
}

.styleguide-section .font-family p{
    margin-bottom: .25em;
}

.styleguide-section .headline-option{
    padding: 16px 16px 16px 16px;
    padding: 1rem 1rem 1rem 1rem;
    border-top: 1px solid #a9a9a9;
}

.styleguide-section .headline-option.first{
    border: none;
}

.styleguide-section .headline-option h1,
        .styleguide-section .headline-option h2,
        .styleguide-section .headline-option h3,
        .styleguide-section .headline-option h4,
        .styleguide-section .headline-option h5,
        .styleguide-section .headline-option h6,
        .styleguide-section .headline-option p{
    margin: 0;
}

.styleguide-section .headline-option p.p--legal{
    margin-top: 5px;
    margin-top: .35rem;
}

.styleguide-section .button-continer{
    padding: 16px;
    padding: 1rem;
}

.styleguide-section .icon-container{
    border: 1px solid #a9a9a9;
    padding: 16px;
    padding: 1rem;
    text-align: center;
}

.styleguide-section .icon-container img{
    max-width: 100%;
    max-height: 100%;
}

.styleguide-section .imagery-container{
    border: 1px solid #a9a9a9;
    text-align: center;
}

.styleguide-section .imagery-container img{
    max-width: 100%;
    max-height: 400px;
    vertical-align: top;
}


/*-------------------------------------------------------------------
    RESPONSIVNESS BREAKING POINTS
-------------------------------------------------------------------*/

@media only screen and (max-width: 1200px) {
    .page-container {
        padding: 0 1rem;
    }
    footer#footer .copyright {
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 800px) {
    /*--BLOCKS--*/
    .block.block--fourth {
        width: 48%;
    }
    .block.block--fourth-full {
        width: 50%;
    }
    /*--PAGE LAYOUTS--*/
    .sidebar {
        width: 100%;
        margin: 0
    }
    .sidebar.sidebar--left{
        margin: 0;
    }
    .page.page--sidebar {
        width: 100%;
    }
    .csColumn {
        text-align: left !important;
    }
}

@media only screen and (max-width: 500px) {
    /*--BLOCKS--*/
    .block {
        width: 100%
    }
    .block.block--half{
        margin: 0 0 1rem 0;
        width: 100%;
    }
    .block.block--half-full{
        margin: 0;
        width: 100%;
    }
    .block.block--third{
        margin: 0 0 1rem 0;
        width: 100%;
    }
    .block.block--third-full{
        margin: 0;
        width: 100%;
    }
    .block.block--fourth{
        margin: 0 0 1rem 0;
        width: 100%;
    }
    .block.block--fourth-full{
        margin: 0;
        width: 100%;
    }
    /*--FOOTER--*/
    footer#footer .copyright #element5-credit {
        float: none;
    }
}

@keyframes load{0%{stroke-dashoffset:0}}
.progressbar {
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center; 
}
.progress-text-top {
    color: #2d3135;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    position: absolute;
    top: 62px;
    left: 0px;
    right: 0px;
}
.progress-text {
   color: #2d3135;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    position: absolute;
    bottom: 80px;
    left: 0px;
    right: 0px; 
}
.with-inc .progress-text {
    color: rgba(45, 49, 53, 0.4);
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    bottom: 70px;
}
.progressbar > li {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #e3147c;
    font-family: "Open Sans";
    font-size: 56px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 1.22px;
}
.progressbar li:before {
    content: attr(data-name);
    position: absolute;
    width: 100%;
    bottom: -2rem;
    font-weight:400;
}
.progressbar li:after {
    content: attr(data-percent);
    position: absolute;
    width: 100%;
    color: #e3147c;
    font-family: "Open Sans";
    font-size: 56px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 1.22px;
    left: 0px;
    top: 43%;
}
.with-inc .progressbar li:after {
    font-size: 36px;
    letter-spacing: 0.78px;
    line-height: 38px;
    font-weight: 600;
}
.with-inc .with-out .progressbar li:after {
    color: rgba(45, 49, 53, 0.6);
}
.progressbar  svg {
    width: 265px;
    height: 265px; 
}
.progressbar svg:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-90deg);
}
.progressbar svg:nth-child(2) path {
    fill: none;
    stroke-width: 25;
    stroke-dasharray: 629;
    background: #f3f3f5;
    stroke: #fff;
    /*opacity:.9;*/
    animation: load 10s;
}

/* Progress Delevery */
.progressbar-delivery {
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center; 
    margin-left: -25px;
    margin-bottom: 62px;
}
.progressbar-delivery > li {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #e3147c;
    font-family: "Open Sans";
    font-size: 56px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 1.22px;
    margin: 0px 22px;
}
.progressbar-delivery li:before {
    content: attr(data-name);
    position: absolute;
    width: 158%;
    color: #2d3135;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    left: -22px;
    top: 127px;
    margin: 0 auto;
}
.progressbar-delivery li:after {
    content: attr(data-percent);
    position: absolute;
    width: 100%;
    color: rgba(45, 49, 53, 0.4);
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.61px;
    left: 0px;
    top: 31%;
}
.progressbar-delivery.reduce-time li:after {
    content: attr(data-percent);
    position: absolute;
    width: 100%;
    color: #e3147c;
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.61px;
    left: 0px;
    top: 31%;
}
.progressbar-delivery  svg {
    width: 100px;
    height: 100px; 
}
.progressbar-delivery svg:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-90deg);
}
.progressbar-delivery svg:nth-child(2) path {
    fill: none;
    stroke-width: 25;
    stroke-dasharray: 629;
    background: #f3f3f5;
    stroke: #fff;
    /*opacity:.9;*/
    animation: load 10s;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    color: #2d3135;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'SFUIDisplay';
    margin: 0px 0px 20px;
}
p {
    margin: 0px 0px 20px;
    color: #2d3135;
    font-weight: 400;
    line-height: 28px;
    font-size: 16px;
}
h4 {
    color: #e3147c;
    font-size: 24px;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 0.96px;
}
h3 {
    color: #e3147c;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
p a {
    color: #d90069;
    font-weight: 700;
    font-size: 16px;
}
.bg-grey
.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}
.pb-40 {
    padding-bottom: 40px !important;
}
.pb-50 {
    padding-bottom: 50px !important;
}
.pb-30 {
    padding-bottom: 30px !important;
}
.pb-65 {
    padding-bottom: 65px!important;
}
.pb-80 {
    padding-bottom: 80px !important;
}
.pb-15 {
    padding-bottom: 15px;
}
.pt-95 {
    padding-top: 95px !important;
}
.pt-5 {
    padding-top: 5px !important;
}
.pt-15 {
    padding-top: 15px !important;
}
.pt-50 {
    padding-top: 50px !important;
}
.pt-20 {
    padding-top: 20px !important;
}
.pt-25 {
    padding-top: 25px !important;
}
.pt-30 {
    padding-top: 30px !important;
}
.pt-35 {
    padding-top: 35px !important;
}
.pt-40 {
    padding-top: 40px !important;
}
.pt-45 {
    padding-top: 45px !important;
}
.pt-55 {
    padding-top: 55px !important;
}
.pt-65 {
    padding-top: 65px!important;
}
.pt-100 {
    padding-top: 100px !important;
}
.mt-50 {
    margin-top: 50px;
}
.mt-80 {
    margin-top: 80px;
}
.mt-100 {
    margin-top: 100px;
}
.mb-100 {
    margin-bottom: 100px;
}
.mb-50 {
    margin-bottom: 50px;
}
.ml-50 {
    margin-left: 50px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.pl-70 {
    padding-left: 70px;
}
.pr-70 {
    padding-right: 70px;
}
.pt-65 {
    padding-top: 65px;
}
.pr-30 {
    padding-right: 30px;
}
.pl-30 {
    padding-left: 30px;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.pb-0 {
    padding-bottom: 0!important;
}
