@font-face {
  font-family: 'SFUIDisplay';
  src: url('../fonts/SFUIDisplay-Regular.eot');
  src: url('../fonts/SFUIDisplay-Regular.woff2') format('woff2'),
       url('../fonts/SFUIDisplay-Regular.woff') format('woff'),
       url('../fonts/SFUIDisplay-Regular.ttf') format('truetype'),
       url('../fonts/SFUIDisplay-Regular.svg#SFUIDisplay') format('svg'),
       url('../fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
