@font-face {
	font-family: 'Conv_MyriadPro-Regular';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: local('?'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'alte_haas_groteskregular';
	src: url('../fonts/altehaasgroteskregular-webfont.eot');
	src: url('../fonts/altehaasgroteskregular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/altehaasgroteskregular-webfont.woff') format('woff'), url('../fonts/altehaasgroteskregular-webfont.ttf') format('truetype'), url('../fonts/altehaasgroteskregular-webfont.svg#alte_haas_groteskregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------------------- CSS for Index Page -------------------------*/
body {
	margin:0px;
	padding:0px;
	font-family: 'Conv_MyriadPro-Regular';
}
.wrapper {
	padding:0px;
}
.middlewrapper {
	background:url(../images/middlewrapbg.png) repeat-x left top #eeeff0;
}
.middlewrapperinner {
	background:url(../images/middlewrapinnerbg.png) no-repeat center top;
}
.middlecontainer {
	width:1002px;
	margin:0px auto;
}
.pagemap {
	margin:0px;
	padding:0px;
}
.pagemap ul {
	margin:0px;
	padding:0px;
}
.pagemap ul li {
	font-family: 'Conv_MyriadPro-Regular';
	font-size:12px;
	color:#566675;
	float:left;
	margin:0px 10px 0px 0px;
}
.pagemap ul li a {
	color:#e4257e;
	text-decoration:none;
	background:url(../images/arrowright.png) no-repeat right 4px;
	padding:0px 18px 0px 0px;
}
.clear {
	clear:both;
}
/*---------------------------- CSS for Register customer pan ---------------------*/
.left_pan {
	width:723px;
	float:left;
	margin:0px 0px 20px 0px;
	padding:0px 34px 0px 0px;
	font-family: 'Conv_MyriadPro-Regular';
}
.left_pan h1 {
	font-family: 'Conv_MyriadPro-Regular';
	font-size:22px;
	color:#000;
	background:url(../images/headingbg.png) repeat-x left bottom;
	font-weight:bold;
	padding:0px 0px 26px 0px;
	margin:0px 0px 0px 0px;
}
.left_pan h6 {
	font-family: 'Conv_MyriadPro-Regular';
	font-size:16px;
	color:#566675;
	font-weight:600;
	padding:0px 0px 10px 0px;
	margin:10px 0px 0px 0px;
	font-style:italic;
	line-height:20px;
}
.left_pan h2 {
	font-family: 'Conv_MyriadPro-Regular';
	font-size:20px;
	color:#de257b;
	font-weight:bold;
	padding:0px 0px 19px 0px;
	margin:30px 0px 0px 0px;
	line-height:20px;
	background:url(../images/headingbg.png) repeat-x left bottom;
}
.licenseleftpan {
	width:338px;
	float:left;
	margin:16px 0px 0px 0px;
}
.licenserightpan {
	width:370px;
	float:left;
	margin:35px 0px 0px 13px;
}
.licenserightpan p {
	font-size:13px;
	line-height:18px;
	color:#5e6972;
}
.licenseformpan {
	margin:0px;
	padding:0px;
}
.licenseformpan ul {
	margin:0px;
	padding:0px;
}
.licenseformpan ul li {
	margin:0px;
	padding:0px 0px 10px 0px;
	font-size:14px;
	color:#333f4b;
	font-family: 'Conv_MyriadPro-Regular';
	vertical-align:middle;
	left:14px;
	display:block;
}
.licenseformpan ul li span {
	font-size:10px;
	color:#e2107c;
	vertical-align:middle;
	display:block;
	float:left;
	line-height:14px;
	margin:0px 4px 0px 4px;
}
.licenseformpan ul li span.star {
	padding:0px 0px 0px 0px;
	float:none;
	display:inline;
	margin:0px;
}
.licenseformpan ul li .inputbox {
	width:338px;
	height:39px;
	background:url(../images/txtboxpanbg.png) no-repeat left top;
}
.licenseformpan ul li .inputbox input[type="text"] {
	width:312px;
	height:32px;
	font-family: 'Conv_MyriadPro-Regular';
	font-size:13px;
	color:#5e6972;
	vertical-align:middle;
	line-height:32px;
	margin:0px 10px;
	border:none;
	background:none;
}
.licenseformpan ul li.submitpay {
	padding:5px 0px 0px 0px;
}
.licenserightpan ul {
	margin:35px 0px 0px 0px;
	padding:0px;
}
.licenserightpan ul li {
	font-size:13px;
	color:#5e6972;
	background:url(../images/squareimg.png) no-repeat left 8px;
	padding:0px 0px 0px 11px;
	line-height:18px;
	margin:0px 0px 18px 0px;
}
.right_pan {
	width:224px;
	float:left;
	margin:35px 0px 20px 0px;
	padding: 0px 0px 0px 20px;
	font-family: 'Conv_MyriadPro-Regular';
	min-height:930px;
	background:url(../images/rightpanbgshadow.png) no-repeat -9px top;
}
.right_pan h1 {
	font-family: 'Conv_MyriadPro-Regular';
	font-size:22px;
	color:#000;
	font-weight:bold;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	line-height:22px;
}
.right_pan h1.cart {
	background:url(../images/cartimg.png) no-repeat 2px 5px;
	padding:0px 0px 5px 33px;
}
.cartdetailpan {
	width: 224px;
	margin:5px 0px 0px 0px;
}
.carttoppan {
	height:2px;
	background:url(../images/carttopbg.png) no-repeat left top;
}
.cartbottompan {
	height:4px;
	background:url(../images/cartbottombg.png) no-repeat left top;
}
.cartmiddlepan {
	background:url(../images/cartmiddlebg.png) repeat-y left top;
}
.cartmiddlepan ul {
	margin:0px;
	padding:0px;
}
.cartmiddlepan ul li {
	height:51px;
	border-bottom:1px solid #d5d6d7;
	margin:0px 4px 0px 1px;
	width: 220px;
}
.cartmiddlepan ul li.alt {
	background:#fbfcfc;
}
.cartmiddlepan ul li.ordertxt {
	background:#e9e9e9;
	padding:11px 5px 17px 11px;
	font-size:11px;
	line-height:12px;
	color:#3f4952;
	font-family: 'Conv_MyriadPro-Regular';
	text-transform:uppercase;
	border-bottom:none !important;
	width: 204px;
}
.cartmiddlepan ul li.ordertxt img {
	float:right;
	margin:5px 0px 0px 0px;
}
.numberpan {
	width:57px;
	height:36px;
	background:url(../images/numberpanbg.png) no-repeat left top;
	float:left;
	margin:8px 0px 0px 11px;
	position:relative;
}
.numberpan  input[type="text"] {
	width:35px;
	height:14px;
	position:absolute;
	left:3px;
	top:3px;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	line-height:18px;
	color:#566675;
	font-family: 'Conv_MyriadPro-Regular'; border:none; background:none;
}
.solution {
	width:41px;
	height:18px;
	position:absolute;
	left:3px;
	top:20px;
	font-size:9px;
	font-weight:normal;
	text-align:center;
	vertical-align:middle;
	line-height:18px;
	color:#566675;
	font-family: 'Conv_MyriadPro-Regular';
	text-transform:uppercase;
}
.plussign {
	width:6px;
	height:6px;
	position:absolute;
	right:3px;
	top:7px;
}
.minussign {
	width:6px;
	height:2px;
	position:absolute;
	right:3px;
	top:26px;
}
.cartcontentrightpan {
	width:145px;
	float:left;
	margin:8px 0px 0px 7px;
}
.cartcontentrightpan p {
	font-family: 'Conv_MyriadPro-Regular';
	font-size:12px;
	line-height:11px;
	color:#566675;
	font-weight:bold;
}
.cartcontentrightpan p span {
	font-size:14px;
	color:#de257b;
	display:block;
}
.subtotalpan {
	height:40px;
	background:#e0eaf4;
	border-bottom:1px solid #cfd1d2;
	margin:1px 4px 0px 1px;
	font-family: 'Conv_MyriadPro-Regular';
	font-size:14px;
	color:#d90f72;
	vertical-align:middle;
	line-height:40px;
	font-weight:bold;
	width: 220px;
}
.subtotalpan span {
	width: 140px;
	height:40px;
	float:left;
	display:block;
	vertical-align:middle;
	line-height:40px;
	color:#3f4952;
	font-size:12px;
	text-transform:uppercase;
	padding:0px 0px 0px 10px;
}
.totalpan {
	height:40px;
	background:#e0eaf4;
	margin:1px 4px 0px 1px;
	font-family: 'Conv_MyriadPro-Regular';
	font-size:16px;
	color:#d90f72;
	vertical-align:middle;
	line-height:40px;
	font-weight:bold;
	width: 220px;
}
.totalpan span {
	width: 102px;
	height:40px;
	float:left;
	display:block;
	vertical-align:middle;
	line-height:40px;
	color:#3f4952;
	font-size:14px;
	text-transform:uppercase;
	padding:0px 0px 0px 10px;
}
.securepan {
	margin:10px 0px 0px 0px;
	padding:0px;
}
/*----------- css for pricing page ---------------------*/

.steppan {
	height:36px;
	background:url(../images/headingbg.png) repeat-x left center;
	margin:16px 0px 0px 0px;
}
.steppan span {
	width:89px;
	height:36px;
	background:url(../images/stepbg.png) no-repeat left top;
	display:block;
	float:left;
	color:#de257b;
	font-family: 'Conv_MyriadPro-Regular';
	font-size:22px;
	font-weight:bold;
	vertical-align:middle;
	line-height:36px;
	text-align:center;
}
.left_pan h3 {
	font-family: 'Conv_MyriadPro-Regular';
	font-size:20px;
	color:#333f4b;
	font-weight:bold;
	padding:0px 0px 19px 0px;
	margin:18px 0px 0px 0px;
	line-height:20px;
	background:url(../images/headingbg.png) repeat-x left bottom;
}
.left_pan h3 span {
	font-size:13px;
	font-weight:normal;
	color:#5e6972;
}
.eachmachinepan {
	width:722px;
	height:51px;
	background:url(../images/eachmachinebg.png) no-repeat left top;
	margin:20px 0px 0px 0px;
	font-family: 'Conv_MyriadPro-Regular';
	font-style:italic;
	font-size:18px;
	line-height:18px;
	text-align:center;
	padding:10px 0px 0px 0px;
}
.stepdivoutpan {
	margin:20px 0px 0px 0px;
	padding:0px;
}
.stepdiv {
	width:162px;
	height:463px;
	background:url(../images/steppanbg.png) no-repeat left top;
	float:left;
	margin: 0px 18px 0px 0px;
}
.steptopcurvepan {
	width:164px;
	height:96px;
	background:url(../images/steptopcurve1.png) no-repeat left top;
	margin:0px 0px 0px -1px;
}
.steptopcurvepan p {
	height:28px !important;
	vertical-align:middle !important;
	line-height:28px !important;
	text-align:center !important;
	color:#3a454e !important;
	font-size:12px !important;
	font-family:Arial, Helvetica, sans-serif !important;
	margin:0px !important;
	padding:0px !important;
	font-weight:bold !important;
	text-transform:uppercase !important;
}
.steptopcurvepan h5 {
	height:49px !important;
	vertical-align:middle !important;
	line-height:45px !important;
	font-size:18px !important;
	text-align:center !important;
	color:#3a454e !important;
	font-family: 'Conv_MyriadPro-Regular';
	font-weight:bold !important;
	margin:2px 0px 0px 0px !important;
	font-style:normal !important
}
.stepdescreption {
	height:166px;
	font-size:12px;
	color:#566675;
	line-height:18px;
	font-family: 'Conv_MyriadPro-Regular';
	text-align:center;
	margin:8px 0px 0px 0px;
}
.pricecostpan {
	height: 49px;
	font-size:48px;
	color:#3a454e;
	text-align:center;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	margin: 30px 0px 0px 0px;
}
.pricecostpan span {
	font-family: 'Conv_MyriadPro-Regular';
	font-size:12px;
	line-height:25px;
	vertical-align:top;
	padding:20px 0px 0px 0px;
}
.agentpan {
	width:135px;
	height:107px;
	background:url(../images/agentpan.png) no-repeat left top;
	margin:0px 0px 0px 16px;
	padding:1px 0px 0px 0px;
}
.agentnumberpan {
	width:70px;
	height:44px;
	background:url(../images/agentnumberpanbg.png) no-repeat left top;
	margin: 28px 0px 0px 33px;
	position:relative;
}
.agentnumberpan input[type="text"] {
	width:39px;
	height: 24px;
	position:absolute;
	left:3px;
	top: 0px;
	border:none;
	background:none;
	font-size:24px;
	vertical-align:middle;
	line-height:19px;
	text-align:center;
	color:#3f4952;
	font-family: 'Conv_MyriadPro-Regular';
	font-weight:bold;
}
.agentxt {
	width: 46px;
	height:15px;
	position:absolute;
	top: 27px;
	left:2px;
	font-size:10px;
	color:#3f4952;
	text-align:center;
	font-family: 'Conv_MyriadPro-Regular';
	text-transform:uppercase;
	font-weight:bold;
	color:#3f4952;
}
.agentplus {
	width: 12px;
	height:11px;
	position:absolute;
	right:5px;
	top:7px;
}
.agentminus {
	width: 12px;
	height:3px;
	position:absolute;
	right:5px;
	top:33px;
}
.addtocartbt {
	width:139px;
	height:40px;
	margin:8px 0px 0px -1px;
}
.nomarginR {
	margin-right:0px !important;
}
.stepcurve2 {
	background:url(../images/steptopcurve2.png) no-repeat left top;
}
.stepcurve3 {
	background:url(../images/steptopcurve3.png) no-repeat left top;
}
.stepcurve4 {
	background:url(../images/steptopcurve4.png) no-repeat left top;
}
.clickherepan {
	width:724px;
	height:82px;
	background:url(../images/clickherepan.png) no-repeat left top;
	margin:12px 0px 0px 0px;
}
.clickherepan2 {
	width:724px;
	height:82px;
	background:url(../images/clickherepan.png) no-repeat left top;
	margin:5px 0px 0px 0px;
}
.clickherebt {
	width:326px;
	height:36px;
	float:left;
	margin:23px 0px 0px 23px;
}
.checkoutbt {
	width:330px;
	height:40px;
	float:left;
	margin:23px 0px 0px 24px;
}
.nextbt1 {
	width:47px;
	height:47px;
	float:left;
	margin:18px 0px 0px 16px;
}
.nextbt2 {
	width:47px;
	height:47px;
	float:right;
	margin:18px 16px 0px 0px;
}
.continuebt {
	width:240px;
	height:40px;
	float:left;
	margin:21px 0px 0px 178px;
}
.left_pan h4 {
	font-family: 'Conv_MyriadPro-Regular';
	font-size:20px;
	color:#333f4b;
	font-weight:normal;
	padding:0px 0px 19px 0px;
	margin:18px 0px 0px 0px;
	line-height:20px;
}
.notepan {
	margin:0px;
	padding:0px;
}
.notepan ul {
	margin:0px;
	padding:0px;
}
.notepan ul li {
	background:url(../images/squareimg.png) no-repeat left 8px;
	font-size:13px;
	color:#566675;
	font-family: 'Conv_MyriadPro-Regular';
	padding:0px 0px 0px 17px;
	line-height:20px;
	margin:0px 0px 16px 0px;
}
.notepan ul li a {
	text-decoration:none;
	color:#dd1076;
}
.needhelppan {
	width:723px;
	height:51px;
	background:url(../images/needhelpbg.png) no-repeat left top;
	color:#3a454e;
	vertical-align:middle;
	line-height:47px;
	text-align:center;
	font-family: 'Conv_MyriadPro-Regular';
	font-style:italic;
	margin:0px 0px 36px 0px;
	font-size:18px;
}
.needhelppan a {
	text-decoration:none;
	color:#dd0f76;
}
.left_pan p {
	font-size:13px;
	color:#566675;
	line-height:20px;
	font-family: 'Conv_MyriadPro-Regular';
	margin:7px 0px 8px 0px;
}
.left_pan p a {
	color:#dd1377;
	text-decoration:none;
}
.bgnone {
	background:none !important;
}
.solutionspan {
	margin:0px;
	padding:0px;
}
.solutionsteppan {
	width:725px;
	height:97px;
	background:url(../images/solutonspanbg.png) no-repeat left top;
}
/* .solutionarrowpan {
	width:142px;
	height:75px;
	background:url(../images/steparrowbg.png) no-repeat left top;
	float:left;
	margin:1px 0px 0px 1px;
	font-size:12px;
	color:#3a454e;
	font-weight:bold;
	line-height:12px;
	padding:21px 0px 0px 16px
} */
.solutionarrowpan {
    width: 190px;
    height: 90px;
    background: url(../images/steparrowbg_wide.png) no-repeat left top;
    float: left;
    margin: 1px 0px 0px 1px;
    font-size: 12px;
    color: #3a454e;
    font-weight: bold;
    line-height: 12px;
    padding: 6px 0px 0px 10px;
}
.solutionarrowpan span {
	font-size:16px;
	display:block;
	line-height:16px;
}
.solutionarrowpan span.small {
	font-size:14px;
}
.accleratespan {
	width: 270px;
	float:left;
	margin:2px 0px 0px 8px;
	font-size:12px;
	color:#566675;
	line-height:16px;
	font-family: 'Conv_MyriadPro-Regular';
	padding: 11px 0px 0px 0px;
}
.pricepan {
	width: 113px;
	height: 63px;
	border-right:1px solid #c4c4c4;
	border-left:1px solid #c4c4c4;
	float:left;
	color:#3a454e;
	font-family:Arial, Helvetica, sans-serif;
	font-size:48px;
	text-align:center;
	font-weight:normal;
	padding-top: 34px;
}
.pricepan span {
	font-family: 'Conv_MyriadPro-Regular';
	font-size:12px;
	line-height:25px;
	vertical-align:top;
	padding:20px 0px 0px 0px;
}
.addtocartpan {
	width: 91px;
	height:40px;
	background:url(../images/addtocartpanbg.png) no-repeat left top;
	float:left;
	margin: 31px 0px 0px 20px;
	position:relative;
}
.addtocartpan .pluspan {
	width:11px;
	height:11px;
	position:absolute;
	left: 11px;
	top:5px;
}
.addtocartpan .minuspan {
	width:11px;
	height:11px;
	position:absolute;
	left: 11px;
	top: 27px;
}
.addtocartpan input[type="text"] {
	width:38px;
	height:28px;
	text-align:center;
	position:absolute;
	left:37px;
	top:2px;
	font-size:24px;
	color:#3f4952;
	font-weight:bold;
	font-family: 'Conv_MyriadPro-Regular';
	vertical-align:middle;
	line-height:28px;
	border:none;
	background:none;
}
.addtocartpan .addcartbt {
	width:139px;
	height:40px;
	position:absolute;
	top:0px;
	right:1px;
}
.left_pan h5 {
	font-family: 'Conv_MyriadPro-Regular';
	font-size:14px;
	color:#566675;
	font-weight:600;
	padding:0px 0px 14px 0px;
	margin:10px 0px 0px 0px;
	font-style:italic;
	line-height:20px;
	font-style:italic;
}
.left_pan h5 a {
	color: #df167b;
	text-decoration:none;
}
.step3 {
	margin-top:58px;
}
.left_pan h3.head2 {
	font-family: 'Conv_MyriadPro-Regular';
	font-size:20px;
	color:#333f4b;
	font-weight:bold;
	padding:0px 0px 19px 0px;
	margin:27px 0px 0px 0px;
	line-height:20px;
	background:none;
}
.txt1 {
	font-size:13px;
	font-weight:bold;
	font-style:italic;
	color:#566675;
}
.freepan {
	margin:0px 0px 0px 0px;
	padding:4px 0px 0px 0px;
}
.continusetxt {
	margin:0px;
	padding:0px;
	font-family: 'Conv_MyriadPro-Regular';
	font-size:16px;
	color:#566675;
	font-style:italic;
	line-height:20px;
}
.continusetxt span {
	font-weight:bold;
	text-transform:uppercase;
}
.continusetxt a {
	color:#dd1579;
	text-decoration:none;
	font-weight:bold;
}
.continuecheckout {
	width:210px;
	height:40px;
	margin:9px auto 0px auto;
}
.right_pan h5 {
	font-family: 'Conv_MyriadPro-Regular';
	font-size:14px;
	color:#000;
	margin:8px 0px 0px 0px;
	padding:0px;
	font-weight:bold;
}
.spldescount {
	font-family: 'Conv_MyriadPro-Regular';
	font-size:12px !important;
	color:#566675 !important;
	line-height:18px;
	margin:6px 0px 0px 0px;
}
.agentseatpan {
	margin:15px 0px 30px 0px;
	padding:0px;
	font-family: 'Conv_MyriadPro-Regular';
}
.agentseatpan ul {
	margin:0px;
	padding:0px;
	width:108px;
	float:left;
}
.agentseatpan ul li {
	font-size:12px;
	color:#566675;
	margin:0px 0px 10px 0px
}
.agentseatpan ul li span {
	font-weight:bold;
}
.agentseatpan ul li a {
	color:#566675;
	text-decoration:none;
	color: #e2177f;
}
.graph_pan {
	margin:10px 0px 0px 0px;
	padding:0px;
}
.graphpic {
	width:58px;
	height:160px;
	float:left;
}
.returnpop {
	width:150px;
	height:39px;
	background:url(../images/returnpopbg.png) no-repeat left top;
	float:left;
	font-size:14px;
	color:#3f3f3f;
	font-weight:bold;
	line-height:14px;
	padding:12px 0px 0px 14px;
	margin:16px 0px 0px 2px;
}
.testitnow {
	width:126px;
	height:39px;
	float:left;
	margin:5px 0px 0px 13px;
}
.deletebt {
	width:16px;
	height:18px;
	float:left;
	margin: 15px 0px 0px 4px;
}
.numberpan2 {
	width:57px;
	height:36px;
	background:url(../images/numberpanbg.png) no-repeat left top;
	float:left;
	margin: 8px 0px 0px 8px;
	position:relative;
}
.numberpan2  input[type="text"] {
	width:35px;
	height:14px;
	position:absolute;
	left:3px;
	top:3px;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	line-height:18px;
	color:#566675;
	font-family: 'Conv_MyriadPro-Regular'; border:none; background:none;
}
.cartcontentrightpan2 {
	width: 128px;
	float:left;
	margin: 0px 0px 0px 7px;
}
.cartcontentrightpan2 p {
	font-family: 'Conv_MyriadPro-Regular';
	font-size:12px;
	line-height: 11px;
	color:#566675;
	font-weight:bold;
	margin: 8px 0px 0px 0px;
	padding: 0px;
	position: inherit;
}
.cartcontentrightpan2 p span {
	font-size:14px;
	color:#de257b;
	display:block;
}
/*------------------- CSS for Signup form --------------*/
.signupleftpan {
	width:338px;
	float:left;
	margin:16px 0px 0px 0px;
	padding:0px 22px 0px 0px;
	background:url(../images/vlinebg.png) repeat-y right top;
}
.signupleftpan h6 {
	font-size:14px !important;
	line-height:20px !important;
	color:#5e6972 !important;
	margin:0px 0px 14px 0px !important;
	padding:0px !important;
	font-weight:normal;
	font-style:normal;
}
.signuprightpan {
	width:338px;
	float:left;
	margin:16px 0px 0px 25px;
}
.signuprightpan p {
	font-size:13px;
	line-height:18px;
	color:#5e6972;
	margin:0px 0px 27px 0px;
	padding:0px;
}
.signupformpan {
	margin:0px;
	padding:0px;
}
.signupformpan ul {
	margin:0px;
	padding:0px;
}
.signupformpan ul li {
	margin:0px;
	padding:0px 0px 10px 0px;
	font-size:14px;
	color:#333f4b;
	font-family: 'Conv_MyriadPro-Regular';
	vertical-align:middle;
	display:block;
}
.signupformpan ul li span {
	font-size:10px;
	color:#e2107c;
	vertical-align:middle;
	display:block;
	float:left;
	line-height:14px;
	margin:0px 4px 0px 4px;
}
.signupformpan ul li.mandetory {
	color:#e2107c;
	font-size:12px !important;
	margin:0px 0px 4px 0px;
}
.signupformpan ul li span.star {
	padding:0px 0px 0px 0px;
	float:none;
	display:inline;
	margin:0px;
}
.signupformpan ul li .inputbox {
	width:338px;
	height:39px;
	background:url(../images/txtboxpanbg.png) no-repeat left top;
}
.signupformpan ul li .inputbox input[type="text"] {
	width:312px;
	height:32px;
	font-family: 'Conv_MyriadPro-Regular';
	font-size:13px;
	color:#5e6972;
	vertical-align:middle;
	line-height:32px;
	margin:0px 10px;
	border:none;
	background:none;
}
.signupformpan ul li .inputbox input[type="password"] {
	width:312px;
	height:32px;
	font-family: 'Conv_MyriadPro-Regular';
	font-size:13px;
	color:#5e6972;
	vertical-align:middle;
	line-height:32px;
	margin:0px 10px;
	border:none;
	background:none;
}
.signupformpan ul li.submitpay {
	padding:5px 0px 0px 0px;
}
.signupformpan ul li .inputbox2 {
	width:108px;
	height:39px;
	background:url(../images/txtboxbg.png) no-repeat left top;
	float:left;
	margin:0px 7px 0px 0px;
}
.signupformpan ul li .inputbox2 input[type="text"] {
	width:86px;
	height:32px;
	font-family: 'Conv_MyriadPro-Regular';
	font-size:13px;
	color:#5e6972;
	vertical-align:middle;
	line-height:32px;
	margin:0px 10px;
	border:none;
	background:none;
}
.signuprightpan h6 {
	font-size:13px !important;
	line-height:13px !important;
	color:#de0c77 !important;
	margin:0px 0px 2px 0px !important;
	padding:0px !important;
	font-weight:bold;
	font-style:normal;
	text-transform:uppercase;
}
.termscondition {
	margin:0px;
	padding:0px;
}
.termscondition ul {
	margin:0px;
	padding:0px;
}
.termscondition ul li {
	font-size:13px;
	color:#5e6972;
/*	background:url(../images/squareimg.png) no-repeat left 8px;*/
	padding:0px 0px 0px 11px;
	line-height:18px;
	margin:0px 0px 18px 0px;
}
.termscondition ul li a {
	font-weight:bold;
	text-decoration:none;
	color:#333f4b;
}
.submitbutton {
	margin:0px;
	padding:15px 0px 0px 0px;
}
.rememberpan {
	margin:0px;
	padding:0px;
}
.rememberpan ul {
	margin:0px;
	padding:0px;
}
.rememberpan ul li {
	font-size:11px;
	color:#566675;
	font-family: 'Conv_MyriadPro-Regular';
	padding:8px 0px 0px 0px;
}
.rememberpan ul li input[type="checkbox"] {
	margin:0px 7px 0px 0px;
}
.forgetpassword {
	font-size:11px;
	color:#de257b;
	font-family: 'Conv_MyriadPro-Regular';
}
.forgetpassword a {
	color:#de257b;
	text-decoration:underline;
}
.forgetpassword a:hover {
	color:#de257b;
	text-decoration:none;
}
.signinnav {
	margin:17px 0px 0px 0px;
	padding:0px;
	height:48px;
	background:url(../images/hlinebg.jpg) repeat-x 359px 46px;
}
.signinnav ul {
	margin:0px;
	padding:0px;
}
.signinnav ul li {
	height:48px;
	font-size:20px;
	color:#97a4ae;
	text-align:center;
	vertical-align:middle;
	line-height:48px;
	font-family: 'Conv_MyriadPro-Regular';
	float:left;
	font-weight:bold;
	padding:0px;
}
.signinnav ul li a {
	display:block;
	color:#333f4b;
	text-decoration:none;
}
.signinnav ul li.firsttabactive a {
	width:198px;
	height:47px;
	background:url(../images/tabbg.png) no-repeat left -14px #eeeff0;
}
.signinnav ul li.secondtab a {
	width:161px;
	height:47px;
	border-bottom:1px solid #eeeff0;
	background:url(../images/tabbg.png) no-repeat -198px top #eeeff0;
	color:#de0c77;
}
.signinnav ul li.firsttab a {
	width:198px;
	height:47px;
	background:url(../images/tabbg.png) no-repeat -2px -60px #eeeff0;
	border-bottom:1px solid #eeeff0;
	color:#de257b;
}
.signinnav ul li.secondtabactive a {
	width:161px;
	height:47px;
	background:url(../images/tabbg.png) no-repeat -198px 46px #eeeff0;
	color:#97a4ae;
}
#form2 {
	display:none;
}
/*------------------------- CSS for Shoping Cart Page ------------------------------*/
.shopingcartleftpan {
	width:726px;
	float:left;
	margin: 0PX 0px 20px 0px;
	padding:0px 34px 0px 0px;
	font-family: 'Conv_MyriadPro-Regular';
}
.shopingcartleftpan h1 {
	font-family: 'Conv_MyriadPro-Regular';
	font-size:22px;
	color:#000;
	background:url(../images/headingbg.png) repeat-x left bottom;
	font-weight:bold;
	padding:0px 0px 26px 0px;
	margin: 0px 0px 0px 0px;
}
.shopingcartleftpan h1 span.cart {
	background:url(../images/cartimg.png) no-repeat left center;
	padding:0px 0px 0px 29px;
}
.carttablepan {
	margin:22px 0px 0px 0px;
	padding:0px;
}
.carttablepan ul {
	margin:0px 0px 1px 0px;
	padding:0px;
}
.carttablepan ul li {
	float:left;
	font-size:16px;
	color:#3a454e;
	font-family: 'Conv_MyriadPro-Regular';
	font-weight:bold;
	padding:0px 0px 19px 0px;
}
.carttablepan ul li.delete {
	width:23px;
}
.carttablepan ul li.name {
	width:164px;
}
.carttablepan ul li.description {
	width:214px;
}
.carttablepan ul li.price {
	width:89px;
	padding:0px 0px 19px 9px;
}
.carttablepan ul li.quantity {
	width:82px;
	padding:0px 0px 19px 8px;
}
.carttablepan ul li.total {
	width:121px;
	padding:0px 0px 19px 15px
}
.carttablepan ul.tablecontent {
	height:97px;
	background:url(../images/carttablebg.png) no-repeat left top;
}
.carttablepan ul.tablecontent li {
	padding:0px;
	margin:0px;
}
.carttablepan ul.tablecontent li.delete {
	width:23px;
	padding:44px 0px 0px 0px;
	text-align:center;
}

.carttablepan ul.tablecontent li.deleteq {
	width:23px;
	padding:44px 0px 0px 0px;
	text-align:center;
}
.carttablepan ul.tablecontent li.name {
	width:140px;
	height:75px;
	background:url(../images/namebg.png) no-repeat left 1px;
	font-size:12px;
	color:#3a454e;
	font-weight:bold;
	padding:20px 10px 0px 14px;
	line-height:14px;
}
.carttablepan ul.tablecontent li.name span {
	font-size:16px;
	display:block;
	line-height:18px;
}
.carttablepan ul.tablecontent li.description {
	width:206px;
	font-size:12px;
	color:#566675;
	line-height:16px;
	padding: 9px 8px 0px 0px;
	font-weight:normal;
}
.carttablepan ul.tablecontent li.price {
	width: 96px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #3a454e;
	text-align: center;
	vertical-align: middle;
	line-height: 23px;
	border-left: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
	font-weight: normal;
	height: 60px;
	padding-top: 28px;
}
.carttablepan ul.tablecontent li.quantity {
	width:89px;
	border-right:1px solid #c4c4c4;
	height:93px;
	padding:1px 0px 0px 0px;
}
.carttablepan ul.tablecontent li.quantity .quantitypan {
	width:72px;
	height:38px;
	background:url(../images/quantitypanbg.png) no-repeat left top;
	margin:30px auto 0px auto;
	position:relative;
}
.carttablepan ul.tablecontent li.quantity .quantitypan .plusimg {
	width:11px;
	height:11px;
	position:absolute;
	left:12px;
	top:5px;
}

.carttablepan ul.tablecontent li.quantity .quantitypan .plusimgq {
	width:11px;
	height:11px;
	position:absolute;
	left:12px;
	top:5px;
}

.carttablepan ul.tablecontent li.quantity .quantitypan .minusimg {
	width:11px;
	height:11px;
	position:absolute;
	left:12px;
	top:26px;
}

.carttablepan ul.tablecontent li.quantity .quantitypan .minusimgq {
	width:11px;
	height:11px;
	position:absolute;
	left:12px;
	top:26px;
}
.carttablepan ul.tablecontent li.quantity .quantitypan input[type="text"] {
	width:30px;
	height:28px;
	position:absolute;
	right:2px;
	top:1px;
	font-size:20px;
	text-align:center;
	color:#3f4952;
	font-weight:bold;
	vertical-align:middle;
	line-height:28px;
	background:none;
	border:none;
}
.carttablepan ul.tablecontent li.total {
	width:101px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#3a454e;
	text-align:right;
	vertical-align:middle;
	font-weight:normal;
	padding: 26px 35px 0px 0px;
	width: 88px;
	line-height: 31px;
}
.carttablepan ul.subtotal_pan {
	height:67px;
	background:url(../images/subtotalpanbg.png) no-repeat left top;
}
.carttablepan ul.subtotal_pan li.subtotal {
	height:63px;
	margin:1px 0px 0px 0px;
	border-right:1px solid #c4c4c4;
	width:482px;
	padding:0px 16px 0px 0px;
	vertical-align:middle;
	line-height:63px;
	font-size:16px;
	color:#3f4952;
	font-weight:bold;
	text-transform:uppercase;
	text-align:right;
}
.carttablepan ul.subtotal_pan li.subtotalnubber {
	height:63px;
	margin:1px 0px 0px 0px;
	width:189px;
	padding:0px 36px 0px 0px;
	vertical-align:middle;
	line-height:63px;
	font-size:20px;
	color:#d60a6d;
	font-weight:normal;
	text-transform:uppercase;
	text-align:right;
}
.carttablepan ul.discount_pan {
	height:67px;
	background:url(../images/subtotalpanbg.png) no-repeat left top;
}
.carttablepan ul.discount_pan li.subtotal {
	height:63px;
	margin:1px 0px 0px 0px;
	border-right:1px solid #c4c4c4;
	width:482px;
	padding:0px 16px 0px 0px;
	vertical-align:middle;
	line-height:63px;
	font-size:16px;
	color:#3f4952;
	font-weight:bold;
	text-transform:uppercase;
	text-align:right;
}
.carttablepan ul.discount_pan li.subtotalnubber {
	height:63px;
	margin:1px 0px 0px 0px;
	width:98px;
	padding:0px 36px 0px 0px;
	vertical-align:middle;
	line-height:63px;
	font-size:20px;
	color:#d60a6d;
	font-weight:normal;
	text-transform:uppercase;
	text-align:right;
}
.carttablepan ul.discount_pan li.discount {
	height: 63px;
margin: 1px 0px 0px 0px;
width: 89px;
vertical-align: middle;
line-height: 63px;
font-size: 20px;
color: #3f4952;
font-weight: normal;
text-transform: uppercase;
text-align: center;
padding: 0px;
padding-left: 62px;
}
.carttablepan ul.grandtotalpan {
	height:67px;
	background:url(../images/totalpanbg.png) no-repeat left top;
}
.carttablepan ul.grandtotalpan li.subtotal {
	height:63px;
	margin:1px 0px 0px 0px;
	border-right:1px solid #c4c4c4;
	width:482px;
	padding:0px 16px 0px 0px;
	vertical-align:middle;
	line-height:63px;
	font-size:16px;
	color:#3f4952;
	font-weight:bold;
	text-transform:uppercase;
	text-align:right;
}
.carttablepan ul.grandtotalpan li.subtotalnubber {
	height:63px;
	margin:1px 0px 0px 0px;
	width:189px;
	padding:0px 36px 0px 0px;
	vertical-align:middle;
	line-height:63px;
	text-transform:uppercase;
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#3a454e;
	font-weight:bold;
}
.termspan {
	font-size: 17px;
	color:#566675;
	text-align:right;
	vertical-align:middle;
	line-height:15px;
	padding:10px 0px 10px 0px;
	text-decoration: underline;
}
.securitybtpan {
	height:46px;
	padding:0px;
	margin: 0px auto;
	text-align: center;
}
.securitybtpan ul {
	margin:0px;
	padding:0px;
}
.securitybtpan ul li {
	float:right;
	height:46px;
	margin:0px 0px 0px 4px;
}

.err_msg
{
	color: red;
	border: 1px solid red;
	padding: 3px;
	text-align: center;
}

.custtxt
{
	width: 204px;
	background: #e9e9e9;
	padding: 13px 6px 15px 11px;
	line-height: 12px;
	color: #3f4952;
	font-family: 'Conv_MyriadPro-Regular';
	margin-left: 1px;
}

input
{
	outline: none !important;
}

#cart_view
{
z-index:10000000000
}

#checkoutClass {
width: 500px;
overflow: hidden;
}

.inputbox_coupon {
width: 108px;
height: 39px;
background: url(../images/txtboxbg.png) no-repeat left top;
float: right;
margin: 0px 7px 0px 0px;
}

.inputbox_coupon input[type="text"] {
width: 86px;
height: 32px;
font-family: 'Conv_MyriadPro-Regular';
font-size: 13px;
color: #5e6972;
vertical-align: middle;
line-height: 32px;
margin: 0px 10px;
border: none;
background: none;
}

.terms {
color: #df167b !important;
}

.cupon_submit_btn
{
	color: #de0c77;
border: 0px;
margin-right: 10px;
text-decoration: underline;
cursor: pointer;
font-weight: bold;
font-family: myriad pro, "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
background-color: #EEEFEF;
}


.cupon_div {
text-align:center;
padding:7px;
height: 40px;
padding-right: 268px;
}

#maintArrow
{
	position:absolute;
}


.carttablepan ul.discount_pan2 {
	height:67px;
	background:url(../images/subtotalpanbg.png) no-repeat left top;
}
.carttablepan ul.discount_pan2 li.subtotal {
	height:63px;
	margin:1px 0px 0px 0px;
	border-right:1px solid #c4c4c4;
	width:482px;
	padding:0px 16px 0px 0px;
	vertical-align:middle;
	line-height:63px;
	font-size:16px;
	color:#3f4952;
	font-weight:bold;
	text-transform:uppercase;
	text-align:right;
}
.carttablepan ul.discount_pan2 li.subtotalnubber {
	height:63px;
	margin:1px 0px 0px 0px;
	width:98px;
	padding:0px 36px 0px 0px;
	vertical-align:middle;
	line-height:63px;
	font-size:20px;
	color:#d60a6d;
	font-weight:normal;
	text-transform:uppercase;
	text-align:right;
}

.carttablepan ul.discount_pan2 li.discount2 {
height: 50px;
font-size: 14px;
color: #3f4952;
font-weight: normal;
text-align: center;
padding: 0px;
margin-top: 19px;
vertical-align: middle;
margin-left: auto;
margin-right: auto;
width: 222px;
}

.subtotalpan2 {
height: 40px;
background: #e0eaf4;
border-bottom: 1px solid #cfd1d2;
margin: 1px 4px 0px 1px;
font-family: 'Conv_MyriadPro-Regular';
font-size: 10px;
color: #d90f72;
vertical-align: middle;
line-height: 40px;
width: 220px;
}

.subtotalpan2 span {
width: 77px;
height: 40px;
float: left;
display: block;
vertical-align: middle;
line-height: 40px;
color: #3f4952;
font-size: 12px;
text-transform: uppercase;
padding: 0px 0px 0px 10px;
font-weight: bold;
}

.subtotalpan2 .span2 {
font-weight: normal;
width: 127px;
padding: 0px;
font-size: 10px;
vertical-align: middle;
text-align: right;
}
#form1 .signupleftpan {
background: none;
}
.messi-content {
padding: 10px;
overflow: hidden;
font: .9em normal helvetica, arial;
background-color: #EEEFF0;
}

div.subtotalpan.smallcartinfo.msg span {
font-size: 13px;
font-weight: normal;
width: 100%;
line-height: 18px;
text-align: center;
margin-left: -10px;
}

button.bundleBtn {
    margin-left: 17px;
    padding: 11px;
    margin-top: 30px;
    border: 0px;
    border: 1px solid #ff2596;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #ff5db1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D12F83), to(#ef007c));
    background-image: -webkit-linear-gradient(top, #D12F83, #ef007c);
    background-image: -moz-linear-gradient(top, #ff5db1, #ef007c);
    background-image: -ms-linear-gradient(top, #ff5db1, #ef007c);
    background-image: -o-linear-gradient(top, #ff5db1, #ef007c);
    background-image: linear-gradient(to bottom, #D12F83, #ef007c);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff5db1, endColorstr=#ef007c);
}